html {
  background-image: url("../images/starfield.png");
  color: #fff;
  font-family: "Ubuntu Condensed", sans-serif;
}

h1, p {
  text-shadow: 1px 1px 5px rgba(255, 255, 255, .7);
}

a {
  text-decoration: none;
}

.btn {
  color: #b4fff4;
  border: 3px solid #b4fff4;
}

.btn-ghost {
  border-color: #b4fff4;
  border-radius: 6px;
  transition: all .3s linear;
}

.btn:hover,
.btn:focus {
  border-color: #90ccc3;
  background-color: rgba(180, 255, 244, .2);
  border: 3px solid #b4fff4;
}

.btn:active {
  transform: translate(0, -.2em);
  top: .3em;
}

.btn:hover .icon {
  transform: translate(0, -.2em);
}
